 <form action="/api/new/review" method="post" role="form" class="reviewForm">
 
 <div class="text-center"><button type="submit" title="Submit Review" data-toggle="modal" data-target="#thank-you-modal">Submit Review</button></div>
 
 </form>



{{!-- 

<form action="/api/burgers/{{this.id}}?_method=DELETE" method="POST">

        <button class="delete" type="submit">DELETE THAT BURGER!</button>

</form> --}}
